/* fonts  */
@font-face {
    font-family:"Raleway-regular";
    src:url(../fonts/Raleway-Regular.ttf)
}
@font-face {
    font-family:"Raleway-medium";
    src:url(../fonts/Raleway-Medium.ttf)
}
@font-face {
    font-family:"Raleway-bold";
    src:url(../fonts/Raleway-Bold.ttf)
}
@font-face {
    font-family:"Raleway-extrabold";
    src:url(../fonts/Raleway-ExtraBold.ttf)
}
@font-face {
    font-family:"Raleway-semibold";
    src:url(../fonts/Raleway-SemiBold.ttf)
}
@font-face {
    font-family:"Raleway-black";
    src:url(../fonts/Raleway-Black.ttf)
}


/* colors  */
.header001{
    background: rgb(238,174,202);
background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}
 .Depression1{
    font-size: 25px;
    font-family: algerian;
    color:#00134d ;
    background: #ffb380;
    padding: 5%;
    border-radius: 10%;
}
 .Box2{
    font-size: 25px;
    font-family: algerian;
    color:#00134d ;



}


*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

body{
    -webkit-font-smoothing:antialiased;
    font-family: "Raleway-regular";
}
.container {
    width:100%;
    padding:o 15px;
    margin:0 auto;
}

@media (min-width:576px){
    .container{
        max-width:540px;
    }
}
@media (min-width: 768px) {
    .container {
      max-width: 720px;
    }
  }
  
  @media (min-width: 992px) {
    .container {
      max-width: 960px;
    }
  }
  
  @media (min-width: 1200px) {
    .container {
      max-width: 1152px;
    }
  }

  .main-wrapper{
      position:relative;
      width:100%;
      height:100vh;
      overflow:hidden;
  }

  .nav-background{
      width:100%;
      height:100%;
      background:var(--light);
      position: absolute;
      top:0;
      left:0;
      padding:0;
      z-index:1;
  }

  .nav-trigger{
      position: absolute;
      top:0;
      left:0;
      z-index:1;
      padding:15px;
      display:none;
  }

.site-content{
    width:100%;
    height:100%;
    overflow-x:auto;
}
  header.topbar{
      background:var(--secondary);
      color:var(--pure);
      font-family:"Raleway-semibold";
      padding:0.75rem 0;
  }
  header.topbar .auth > div a{
      color:var(--pure);
      text-decoration: none;
  }
  header.topbar .icons a{
    margin-right:0.6rem;
  }
  header.topbar .auth .divider{
      padding:0 1rem;
  }
  header.topbar .auth > div img{
      margin-right:0.35rem;
  }
  .flex{
    display:flex;
  }
  .justify-between{
    justify-content: space-between;
  }
  .items-center{
      align-items: center;
  }
  nav .top{
      padding:1.5rem 0;
  }
  nav .top .contact h5,  nav .top .time h5{
      font-family:"Raleway-black";
      margin-bottom:0.25rem;
  }
  nav .top .contact h6, nav .top .time h6{
    font-family:"Raleway-medium";
    letter-spacing: 0.055rem;
    font-size:0.75rem;
    color:var(--ternary);
}


.justify-center{
    justify-content:center;
}
nav .navbar a{
    text-decoration:none;
    color:white;
    background: black;
    font-family:"Raleway-semibold";
    font-size:1rem;
    padding:1rem 1.5rem;
    transition:all .3s ease;
    -webkit-transition:all .3s ease;
    -moz-transition:all .3s ease;
    -ms-transition:all .3s ease;
    -o-transition:all .3s ease;
}
nav .navbar a.active{
    background:black;
    color:white;
}
nav .navbar a:hover{
    background:#b3b3cc;
    color:white; 
}
.magic-shadow{
    position: relative;
    background:var(--heaven);
}
.magic-shadow:after{
    content:'';
    display:block;
    width:100%;
    height:69px;
    background-image:url(../icons/shadow.svg);
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    bottom:-22px;
    z-index:-1;
    
}
.magic-shadow-sm{
    position: relative;
    background:var(--heaven);
}
.magic-shadow-sm:after{
    content:'';
    display:block;
    width:100%;
    height:69px;
    background-image:url(../icons/shadow-sm.svg);
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    bottom:-20px;
    left:50%;
    transform:translateX(-50%);
    z-index:-1;
    -webkit-transform:translateX(-50%);
    -moz-transform:translateX(-50%);
    -ms-transform:translateX(-50%);
    -o-transform:translateX(-50%);
}
header.Counselor{
    height:600px;
    background-image:url(counsellbg.jpg);
    background-position: 100%;
    background-repeat: no-repeat;
    overflow:hidden;
    width: 1150px;


}
header.Movies{
    height:600px;
    background-image:url(moviebg.jpg);
    background-position: 100%;
    background-repeat: no-repeat;
    overflow:hidden;

}
header.webseries{
    height:600px;
    background-image:url(Web\ seriesbg.jpg);
    background-position: 100%;
    background-repeat: no-repeat;
    overflow:hidden;
    width: 1000px;

}
header.Music{
    height:600px;
    background-image:url(musicbg.jpg);
    background-position: 100%;
    background-repeat: no-repeat;
    overflow:hidden;
    width: 100%;
}
header.Thoughts{
    height:600px;
    background-image:url(Thoughtbg.jpg);
    background-position: 100%;
    background-repeat: 100%;
    overflow:hidden;
    width: 100%;
}
header.books{
    height:600px;
    background-image:url(booksbg.jpeg);
    background-position: 100%;
    background-repeat: 100%;
    overflow:hidden;
    width: 100%;
}
header.books .container{
    position: relative;
}
header.books .welcome{
    margin-bottom:0.25rem;
}
header.books .welcome span{
    font-family:"Raleway-bold";
    color:var(--secondary);
    margin-right:0.75rem;

}
header.books h1{
    font-family:"Raleway-extrabold";
    color:var(--secondary);
    font-size: 2.5rem;
    margin-bottom:0.75rem;
}
header.books h1 span{
    color:var(--primary);
}
header.books p{
    font-family: "Raleway-medium";
    width:50%;
    line-height:1.5;
    margin-bottom:1rem;
}
header.hero{
    height:600px;
    background-image:url(bg1.jpg);
    background-position: 100%;
    background-repeat: no-repeat;
    overflow:hidden;
    width: 1250px;
}
header.hero .container{
    position: relative;
}
header.hero .welcome{
    margin-bottom:0.25rem;
}
header.hero .welcome span{
    font-family:"Raleway-bold";
    color:var(--secondary);
    margin-right:0.75rem;

}
header.hero h1{
    font-family:"Raleway-extrabold";
    color:var(--secondary);
    font-size: 2.5rem;
    margin-bottom:0.75rem;
}
header.hero h1 span{
    color:var(--primary);
}
header.hero p{
    font-family: "Raleway-medium";
    width:50%;
    line-height:1.5;
    margin-bottom:1rem;
}


header.hero button:first-child{
    margin-right:0.50rem;
}

header.hero .hero-image{
    position:absolute;
    top:-40px;
    right:40px;
}


.text-pure{
    color:var(--pure);
}



.music_bottomboxes{
    border: 1px solid black;
    padding: 5%;
    margin-left: 15%;
    margin-top: 5%;
    margin-bottom: 5%;
    border-radius: 50px;
    width: 35%;
}
.music_bottomboxes_right{
    margin-left: 55%;
}
#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 80%;
  background-color: #ccffe6;
  border-radius: 50px;
  margin-left: 100px;

}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
  border-radius: 50px;
  
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
  border-radius: 50px;

}
